body {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    109.6deg,
    rgba(102, 51, 153, 1) 11.2%,
    rgba(2, 0, 4, 1) 91.1%
  );
  min-height: 100vh;
  font-family: "Sono", sans-serif;
  margin: 1%;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  min-height: 95vh;
}

.pricing-plan {
  background-color: whitesmoke;
  /* flex: 1; */
  flex-basis: 30%;
  max-width: 400px;
  padding: 5px;
  border-radius: 30px;
  color: purple;
  text-align: center;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.plan-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.basic > .plan-price {
  color: #b08d57;
}
.standard > .plan-price {
  color: silver;
}
.premium > .plan-price {
  color: gold;
}

.plan-button {
  background-color: #200f31;
  border: 9px solid #200f31;
  border-radius: 10px;
  color: white;
  align-self: center;
}

li {
  text-align: start;
  list-style: none;
}

.basic {
  border: 4px solid #b08d57;
}

.basic:hover {
  border: 9px solid #b08d57;
  background-color: #85683d;
  color: white;
  padding: 50px;
}

.standard {
  order: 2;
  border: 4px solid silver;
}

.standard:hover {
  border: 9px solid silver;
  background-color: rgb(141, 141, 141);
  color: white;
  padding: 50px;
}

.premium {
  border: 4px solid gold;
}

.premium:hover {
  border: 9px solid gold;
  background-color: goldenrod;
  color: white;
  padding: 50px;
}

.pricing-plan:hover > .plan-button {
  background-color: #020004;
  border: 9px solid #020004;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
}

.pricing-plan > .plan-button:hover {
  background-color: white;
  border: 9px solid white;
  color: #200f31;
  font-weight: bold;
}

@media (max-width: 1250px) {
  .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* width: 100%; */
  }
  .pricing-plan {
    flex-basis: 30px;
    width: 400px;
    padding: 5px;
    border-radius: 30px;
  }
}
